/* data tables */
table.hours_of_operation {
  border-top: 1px solid #bec99b;
  border-bottom: 1px solid #bec99b;
  border-left: 1px solid #cfd7b9;
  border-right: 1px solid #cfd7b9;
  border-collapse: separate;
}
table.hours_of_operation thead th{
  height:75px;
} 
table.hours_of_operation thead th
 {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #dce2ca;
  border-top: 1px solid #fcfdf3;
  border-bottom: 1px solid #fcfdf3;
  border-left: 1px solid #bdc896;
  border-right: 1px solid #bdc896;
  padding: 8px 5px 2px 5px;
}

table.hours_of_operation tbody th {
  vertical-align: top;
  padding: 8px 7px 6px 7px;
  border-right: 1px solid #cfd7b9;
  border-top: 1px solid #617a16;
}
table.hours_of_operation td{
  padding: 8px 5px 2px 5px;
}  

table.hours_of_operation .odd td{
  background-color: transparent;
}

table.hours_of_operation .even td {
  background-color: #fff;
}

table.hours_of_operation a {
  font-weight: bold;
}
